
body{
    background-color: white;
    margin: 5%;
    width:100%
}
.holder{
    display: flex;
    overflow: hidden;
    background-color: hsl(0, 0%, 97%);
    padding: 10%;
    width:96%s
}

h3{
    text-decoration:none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    padding: 5px;
    text-align: left;
} 
 .info{
    margin: 2%;
    padding:10%;
    letter-spacing: .02em;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}
.img{
    margin: 12%;
}
.sedan{
   background-color: #fd9a18;
   width: 32%;
}
.suvs{
    background-color: #055664e5;
    width: 32%;
}
.luxury{
    background-color: rgba(3, 58, 27, 0.842);
    width: 32%;
}
.sedan button{
    margin: 2em;
    border-radius: 25px;
    padding: 10px 24px;
    color:white;
    background-color: transparent;
    font-size: medium;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid white;
}
.suvs button{
    margin: 2em;
    border-radius: 25px;
    padding: 10px 24px;
    color:hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: medium;
    font-size: bolder;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid white;
}
.luxury button{
    margin: 2em;
    border-radius: 25px;
    padding: 10px 24px;
    background-color: transparent;
    color:#ffffffff ;
    font-size: medium;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid #ffff;
}
.sedan button:hover{
    color:white;
    text-transform: capitalize;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(225, 231, 229);
}
.suvs button:hover{
    color:white;
    text-transform: capitalize;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(225, 231, 229);
}
.luxury button:hover{
    color:white;
    text-transform: capitalize;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(225, 231, 229);
}

@media only screen and (max-width: 600px ) {
    body{
        background-color: white;
        margin: 5%;
        width:100%
    }
    .holder{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: hsl(0, 0%, 97%);
        padding: 10%;
        width:96%s
    }
}
@media only screen and (max-width:768px) {
    body{
        background-color: white;
        margin: 5%;
        width:100%
    }
    .holder{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: hsl(0, 0%, 97%);
        padding: 10%;
        width:96%s
    }
}
@media only screen and (min-width: 768px){
    body{
        background-color: white;
        margin: 5%;
        width:100%
    }
    .holder{
        display: flex;
        overflow: hidden;
        background-color: hsl(0, 0%, 97%);
        padding: 10%;
        width:96%s
    }
}
@media only screen and (min-width: 992px){
    body{
        background-color: white;
        margin: 5%;
        width:100%
    }
    .holder{
        display: flex;
        overflow: hidden;
        background-color: hsl(0, 0%, 97%);
        padding: 10%;
        width:96%s
    }
}
