
body{
    box-sizing: border-box;
    background-color: white;
    margin: 5%;
    width:100%
}
.holder{
    display: flex;
    background-color: hsl(0, 0%, 97%);
    margin:2%;
    padding: 12%;
    width:100%
}

h3{
    margin-top: -10%;
    text-decoration:none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    padding: 5px;
    text-align: left;
} 
 .info{
    margin: 2%;
    padding:10%;
    letter-spacing: .02em;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}
.img{
    margin: 8%;
}
.sedan{
   background-color: #fd9a18;
   
}
.suvs{
    background-color: #055664e5;

}
.luxury{
    background-color: rgba(3, 58, 27, 0.842);

}
.sedan, .suvs, .luxury {
width: 25%;

}
.sedan button,.suvs button, .luxury button {
    margin: 2em;
    border-radius: 25px;
    padding: 10px 24px;
    color:hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: medium;
    font-size: bolder;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid white;
}

.sedan button:hover,.suvs button:hover,.luxury button:hover{
    color:white;
    text-transform: capitalize;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(225, 231, 229);
}

 @media only screen and (max-width: 600px ) {
    .holder{
        display: flex;
        flex-direction: column;
        background-color: hsl(0, 0%, 97%);
        margin:2%;
        padding: 12%;
        width:97%
    }
    .sedan, .suvs, .luxury {
        width: 80%;
        
        }
} 

@media only screen and (max-width:768px) {
    .holder{
        display: flex;
        flex-direction: column;
        background-color: hsl(0, 0%, 97%);
        margin:2%;
        padding: 12%;
        width:97%
    }
    .sedan, .suvs, .luxury {
        width: 80%;
        
        }
   
}
   @media only screen and (min-width: 768px){
    .holder{
        display: flex;
        background-color: hsl(0, 0%, 97%);
        margin:2%;
        padding: 12%;
        width:97%
    }
    .sedan, .suvs, .luxury {
        width: 25%;
        
        }
}
    
@media only screen and (min-width: 992px){
    .holder{
        display: flex;
        background-color: hsl(0, 0%, 97%);
        margin:2%;
        padding: 12%;
        width:100%
    }
    .sedan, .suvs, .luxury {
        width: 25%;
        
        }
}