
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.holder{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 81%);
}

h3{
    /* margin-top: -10%; */
    text-decoration:none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    padding: 5px;
    text-align: left;
} 
 .info{
    margin: 2%;
    padding:10%;
    letter-spacing: .02em;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}
.img{
    margin: 8%;
}
.sedan{
   background-color: #fd9a18;
   
}
.suvs{
    background-color: #055664e5;

}
.luxury{
    background-color: rgba(3, 58, 27, 0.842);

}
.sedan, .suvs, .luxury {
width: calc(96% / 3);

}
.sedan button,.suvs button, .luxury button {
    margin: 2em;
    border-radius: 25px;
    padding: 10px 24px;
    color:hsl(0, 0%, 100%);
    background-color: transparent;
    font-size: medium;
    font-size: bolder;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid white;
}

.sedan button:hover,.suvs button:hover,.luxury button:hover{
    color:white;
    text-transform: capitalize;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(225, 231, 229);
}

   @media only screen and (max-width: 410px ) {
    .holder{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .img{
        margin: 0.8em;
        padding: 0;
    }
    .info{
        padding:0.2em .5em;
        letter-spacing: .02em;
        font-size: 1em;
    }
    .sedan, .suvs, .luxury { 
        width: 27em;
        height: 17.5em;
        
        }
        .sedan button,.suvs button, .luxury button {
            margin: 1em;
            padding: 5px 12px;
            font-size: bolder;
    
        }

}  

  @media only screen and (min-width:410px) {
      /* doing for medium and somehow big mobile devices from 410 pxs */
    .holder{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .img{
        margin: 0.8em;
        padding: 0;
    }
    .info{
        padding:0.2em .5em;
        letter-spacing: .02em;
        font-size: 1.3em;
    }
    .sedan, .suvs, .luxury {
        height:20em; 
        width: 30.59em; 
        
    }
  }
  @media only screen and (min-width: 700px){
      /* tablets and small lapts */
      .holder{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }
    .sedan, .suvs, .luxury {
        width:25em;
        height: 45em; 
    }
    .info{
        margin: 2%;
        padding:10%;
        letter-spacing: .02em;
        color: white;
        font-family: sans-serif;
        font-size: 2em;
    }
  }   
  @media only screen and (min-width: 1000px){
      /*laptops  */
      .holder{
        width: 100vw;
        height: 100vh;
       
    }
    .sedan, .suvs, .luxury {
        width: calc(96% / 3);
    }
    .sedan button,.suvs button, .luxury button {
        margin: 2em;
        border-radius: 25px;
        padding: 10px 24px;
    }
    .info{
        font-size: 2.5em;
    }
    .sedan button,.suvs button, .luxury button {
        margin: 1em;
        padding: 10px 24px;
        font-size:2.5em;
    }
  } 
  @media only screen and (min-width: 4000px){
    .holder{
        width: 100vw;
        height: 100vh;
       
    }
    .sedan, .suvs, .luxury {
        width: calc(90% / 3);
    }
    .info{
        font-size: 4em;
    }
  }